<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/subashinis2017">Subashini</a>. It was built with the intent to develop and hone technical skills needed to turn ideas into reality. 
  </p>
  <br />
  <p>
    She has worked extensively on many projects based on Java/J2EE tech stack. Splurty is interesting because this is her first Ruby on Rails project.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Subashini Shanmugadas</h2>
      <br />
      <p>
        Subashini Shanmugadas is a full stack developer. She has consulted for Fortune 500 companies like Cisco, Yahoo (acquired by Verizon).
      </p>
    </div>
  </div>
  <br class="clear" />

</div>